/*body styling*/
.body-style{
    background-color: black; 
}

#home{
    
    text-align: center;
    position: static;
}

.main-style{
    margin-left: 120px;
    color: antiquewhite;
    margin-right: 200px;
}


.sidebar2{
    color: antiquewhite; 
    text-align: center; 
    font-size: large ;
    line-height: 200%;
}

.mmg:hover{
    left: 30;
}

/*font*/
body{
    font-family:Arial, Helvetica, sans-serif
  }

.sidebar{
    height: 80%;
    width:120px;
    background-color:rgb(12, 11, 11);
    position: fixed;
    z-index:1;
    overflow:auto;
}

.textareas{
    text-align: left; 
    background-color: white;

}

ul{
    position: center;
    left: 600px;
}

.img0{
    position: absolute;
    right: 500px;
} 

a:link{
    color: purple;
}
a:hover{
    color: rgb(0, 225, 255);
}

.images{
    position: relative;
    left: 220px;
}
.images:hover{
    width: 20%;
}

footer{
    background-color:black;
    height: 50px;
    
}

p{
    color: antiquewhite; 
    text-align: center; 
    font-size: large ;
    line-height: 200%;
    position: relative;
    left: 80px;
}

html{
    scroll-behavior: smooth;
}

.fa-instagram:before {
    size: 30px;
    content: "\f16d";
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

div:hover{
    background-color: rgb(87, 85, 85);
}

#contacts{
    color: white;
}


